label.ln, label.fn {
    margin-left: 40%;
}

input {
    margin-left: 15%;
    max-width: 500px;
}

input.fn, input.ln {
    margin-left: 20%;
}
main {
    text-align: center;
    background-color: cornflowerblue;
    height: 1000px;
    width: 100%;
}
