.box {
  border: 3px solid black;
  width: 100%;
  min-height: 200px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input,
p {
  text-align: center;
}

a {
  width: 60px;
  font-size: 60px;
  color: black;
}

main {
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  text-align: center;
}

section.ttl-btn {
  text-align: center;
}
