.box {
    border: 3px solid black;
    height: 400px;
    width: 800px;
    text-align: center;
}

p{
    text-align: center;
}

a{
 font-size: 30px;
}

main {
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    text-align: center;
}

section.ttl-btn {
    text-align: center;
}